{
    servers {
                protocols h1 h2
            }
}

alivion.cc, www.alivion.cc {
    @root path /
    redir @root /health-aggregator 302

    handle /health-aggregator* {
                                   reverse_proxy grafana:3000
                               }
}
